.drink-thumb {
  height: auto;
  width: 180px;
}

.drink-thumb-details {
  height: auto;
  width: 400px;
}

.card {
  width: 180px;
  height: auto;
  text-decoration: none;
  text-align: center;
  margin: 0.5%;
}

.drinks-card-container {
  display: flex;
  flex-wrap: wrap;
}

.search-icon {
  height: 25px;
  /* width: auto; */
}

.icon {
  height: 20px;
  /* width: auto; */
}

.arrow-icon {
  height: 40px;
  /* width: auto; */
}